<section>
    <mat-grid-list cols="1" rowHeight="10:1">
        <mat-grid-tile>
            <mat-form-field appearance="outline" color="lime">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Placeholder" [formControl]='inputSearch'>
              </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="5" rowHeight="2:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
    </mat-grid-list>
</section>